.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.continer{
  display: flex;
  flex-wrap: nowrap;
  background-color: rgb(255, 0, 195);
  width: 100%;

  border: 1px solid #e9eff3;
  margin-top: 10px;
  margin-left: 3px;
  margin-bottom: 10px;
}

.f-1{
  text-align: center;
  border: 1px solid black;
  color: aqua;
  margin: 10px;
  box-shadow:4px 4px 8px rgba(4,2,8,0.8);
}
.f-2{
  justify-items: center;
  border: 1px solid black;
  margin: 10px;
  background-color:green ;
  color:red;
}
.f-3{
  margin: 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color:green ;
  color:blue;
}