@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
/* Ensure list items display on the left */
.list-style {
  background-color: #007bff; /* Blue background */
  padding: 10px;
  border-radius: 5px;
}

.nav-item {
  margin-bottom: 5px;
}

.nav-link {
  color: white; /* White text on blue background */
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline; /* Add hover effect */
}
